extends layout

block content
    body#carwashbody
        .inventheader
            h5(style='font-size: 40px;') Zawash Report
        br
        form.search(action='/expensereport')
            div.form-row
                div.col-md-8
                    input.form-control.shadow-lg#datecarwashtrack(type="date" name="searchdate" value=defaultDate)
                div.col-md-4
                    input.btn.btn-primary.btn-block.shadow-lg#carwashbutton(type="submit")
        br
        table.shadow-lg.expensereporttable 
            thead
                tr
                    th Date of Entry
                    th Item
                    th Amount
            tbody
            if expenses.length
                each expense in expenses
                    tr
                        td.expensereporttd #{moment(expense.dateofExpense).format('YYYY-MM-DD')}
                        td.expensereporttd #{expense.item}
                        td.expensereporttd #{expense.price}
                tr
                    th(colspan=2) Total Expenses
                    th #{new Intl.NumberFormat().format(total.totalExpense)}






