extends layout

block content
    body#managerpage
        .washerdetailsreport
            h9 Washer Details
        table.washertable
            thead
                tr
                    th Name 
                    th Gender
                    th Date of Birth
                    th ID Number
                    th Residence
                    th ZawashID
            tbody
                if users.length
                    each user in users
                        tr
                            td #{user.fullname}
                            td #{user.gender}
                            td #{moment(user.dob).format('DD/MM/YYYY')}
                            td #{user.nin}
                            td #{user.placeofresidence}
                            td #{user.zacarids}
                            td
                                form(method="post" action='/register/delete-washer')
                                    input(type="hidden", placeholder="", name="id", value=user._id)
                                    button.btn.btn-primary.btn-block(type="submit") Delete